@import "themes/light";
@import "themes/dark";

.btn-primary {
  border: 1px solid var(--buttonColor) !important;
  background: var(--buttonColor) !important;
  color: var(--textColor) !important;
}

.btn-light {
  background: var(--lightButtonColor) !important;
  border: 1px solid var(--lightButtonColor) !important;
  color: var(--textColor) !important;
}

body {
  color: var(--textColor) !important;
  background-color: var(--background) !important;
}

input, select {
  background-color: var(--background) !important;
  color: var(--textColor) !important;
  border-color: var(--inputBorderColor) !important;
}
