:root.dark-theme {
  --background: #161616;
  --buttonColor: #03397e;
  --cardColor: #222222;
  --dropdownColor: #313131;
  --dropdownElementColor: #1a3391;
  --inputBorderColor: #2d2d2d;
  --inputColor: #2d2d2d;
  --navbarColor: #AD0202;
  --textColor: white;
  --lightButtonColor: #1e1e1e;
  --loginBackground: #161616;
}
