:root.light-theme {
  --background: white;
  --buttonColor: #007bff;
  --cardColor: white;
  --dropdownColor: #e7e7e7;
  --dropdownElementColor: #007bff;
  --inputBorderColor: #ced4da;
  --inputColor: white;
  --navbarColor: #EA0000;
  --textColor: black;
  --lightButtonColor: #f8f9fa;
  --loginBackground: #e4e0e0;
}
